@model List<ExiledToolkit.Models.ToolkitObjects.Item>
@{
    ViewBag.Title = "Index";
}

@if (Model.Count == 0)
{
    <script type="text/javascript">
        alert("Model empty");
    </script>
}
else
{
    <script type="text/javascript">
        alert("Model filled");
    </script>
}

<h2>Index</h2>

<div id='jsonget'>
Div for pasting in json from chrome app.
</div>